#part4 
#كدا بقوله اي علامة سلاش و كلام مش موجود  متديش ايرور بالعكس ابعته على index.php
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l 

RewriteRule ^(.*) index.php?$1 [QSA,L]